$main-size: 8rem;
$main-size-sm: 5rem;

$secondary-size: 5rem;
$secondary-size-sm: 3.5rem;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
  
  &::before {
    content: "";
    position: absolute;
    top: -25vw;
    left: -25vw;
    min-width: 150vh;
    width: 150vw;
    min-height: 150vw;
    height: 150vh;
    transform-origin: center center;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    animation: change-colors 10s infinite linear;
  }

  div {
    position: absolute;
    color: white;
    align-self: center;
    text-align: center;
    white-space: nowrap;
    width: 90%;
    transition: all 1s;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

    span {
      display: block;
      transition: inherit;

      &.time {
        position: absolute;
        left: 0;
      }
    }

    &.last, &.next {
      font-size: $secondary-size;
      line-height: $secondary-size;
      filter: brightness(0.8) blur(1px);

      span {
        font-size: $secondary-size / 4;
        line-height: $secondary-size / 4;
        height: $secondary-size / 4;

        &.time {
          top: calc(50% - #{$secondary-size / 8});
        }
      }

      width: 80%;
    }

    &.last {
      transform: translateY(4rem);
    }

    &.next {
      transform: translateY(calc(100vh - #{$secondary-size * 1.25} - 4rem));
    }

    &.before-last, &.after-next {
      font-size: 2.5rem;
      line-height: 2.5rem;
      width: 60%;
      filter: brightness(0.8) blur(20px);

      span {
        font-size: 1rem;
        line-height: 1rem;
        height: 1rem;

        &.time {
          top: calc(50% - .5rem);
        }
      }
    }

    &.before-last {
      transform: translateY(-5rem);
    } 
    
    &.after-next {
      transform: translateY(calc(100vh + 5rem));
    }

    &.current {
      font-size: $main-size;
      line-height: $main-size;
      filter: none;
      transform: translateY(calc(50vh - #{$main-size * 5 / 8}));

      span {
        font-size: $main-size / 4;
        line-height: $main-size / 4;
        height: $main-size / 4;

        &.time {
          top: calc(50% - #{$main-size / 8});
        }
      }
    }
  }
}

@keyframes change-colors {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}