$main-size: 8rem;
$main-size-sm: 5rem;

$secondary-size: 5rem;
$secondary-size-sm: 3.5rem;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3f3f3f;

  p {
    position: absolute;
    color: white;
    align-self: center;
    white-space: nowrap;
    transition: transform 1s, font-size 1s, color 1s, filter 1s;

    &.last, &.next {
      font-size: $secondary-size;
      line-height: $secondary-size;
      filter: brightness(0.8) blur(2px);
    }

    &.last {
      transform: translateY(4rem);
    }

    &.next {
      transform: translateY(calc(100vh - #{$secondary-size} - 4rem));
    }

    &.before-last, &.after-next {
      font-size: 2.5rem;
      line-height: 2.5rem;
      filter: brightness(0.8) blur(20px);
    }

    &.before-last {
      transform: translateY(-5rem);
    } 
    
    &.after-next {
      transform: translateY(calc(100vh + 5rem));
    }

    &.current {
      font-size: $main-size;
      line-height: $main-size;
      filter: none;
      transform: translateY(calc(50vh - #{$main-size / 2}));
    }
  }
}